body {
    background-color: #3b6070;
}
body, input {
    font-family: 'Roboto Mono', monospace;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
h1 {
    font-size: 2.4em;
}
p {
    color: #999;
    line-height: 1.8em;
}